$def with()
<html>
<head>
</head>
<body>

<h3>PS3手柄</h3>

<p>
<img alt="ps3_controller" src="https://cloud.githubusercontent.com/assets/10035308/22185413/f10f27de-e099-11e6-97a4-ecbbc82c9e46.png" style="width:625;height:439">
</p>

<h3>热键</h3>

<div class="md-typeset__table">
<table border="1">
<thead>
<tr>
<th align="center">Hotkeys</th>
<th align="center">Action</th>
</tr>
</thead>
<tbody>
<tr>
<td align="center">Select+Start</td>
<td align="center">Exit</td>
</tr>
<tr>
<td align="center">Select+Right Shoulder</td>
<td align="center">Save</td>
</tr>
<tr>
<td align="center">Select+Left Shoulder</td>
<td align="center">Load</td>
</tr>
<tr>
<td align="center">Select+Right</td>
<td align="center">Input State Slot Increase</td>
</tr>
<tr>
<td align="center">Select+Left</td>
<td align="center">Input State Slot Decrease</td>
</tr>
<tr>
<td align="center">Select+X</td>
<td align="center">RGUI Menu</td>
</tr>
<tr>
<td align="center">Select+B</td>
<td align="center">Reset</td>
</tr>
</tbody>
</table>
</div>

</body>
</html>